.RewardDetail{
    box-sizing: border-box;
    padding: 1rem 2rem;
    

    font-size:.7em;
}

.Details{
    padding: 5px;
    text-align: center;
    font-size: var(--smaller-font);
}

.Details p {
    margin:3px;
    padding: 0;
}

.Details span{
    margin-left: 10px;
}

.Gray{
    color:var(--gris)
}

.Blue{
    color:var(--azul)
}

.Blue, .Gray {
    text-transform: uppercase;
    font-weight: bold;
}