.App {
  width: 100%;
  text-align: center;
  background-color: #43f0e1;
  min-height: 100vh;
  height: 100%;
  position:relative
}
.modal-dialog { max-width: 350px !important;  }
.modal-content  {
  border-radius: 15px !important;
 
}

.card{
height: var(--card-min-Heigth);
}

.abrir{
  animation: abrir 1s forwards !important;
}

.cerrar{
  animation: cerrar 1s forwards !important;

}

@keyframes abrir{
  to{
      height: var(--card-max-Height)
  }
}

@keyframes cerrar{
  from{
    height: var(--card-max-Height)
  }
  to{
      height: var(--card-min-Heigth);
  }
}

:root {  
  --azul: rgb(27, 37, 66);
  --amarillo: rgb(255, 223, 36);
  --smaller-font: .8em;
  --rojo:rgb(250, 100, 0);
  --gris:#c2c2c2;
  --card-max-Height: 400px;
  --card-min-Heigth:230px
 
  
}
@media (max-width: 600px) {
  :root{
    --card-max-Height: 100vh;
    --card-min-Heigth:400px;
  }
  

}

.center {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate( -50%,-50%);
}